<div class="footer">
    <div class="footer-content">
        <div class="row">
            <div class="col-sm-4">
                <h3>Gioi thieu</h3>
                <p>Pocake la shop do an vat noi tieng voi 2 mon an la Bong Lan Trung Muoi va Kho Ga La Chanh, duoc lam tu nguyen lieu tuoi ngon voi dieu kien dam bao ve sinh an toan thuc pham. Nguyen lieu duoc lay tu lang que viet nam dem lai huong vi tuoi ngon chan thuc nhat</p>
            </div>
            <div class="col-sm-2">
                <h3>Menu nhanh</h3>
                <ul>
                    <li><a href="#">Menu 1</a></li>
                    <li><a href="#">Menu 2</a></li>
                    <li><a href="#">Menu 3</a></li>
                    <li><a href="#">Menu 4</a></li>
                    <li><a href="#">Menu 5</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h3>Cac mon</h3>
                <ul>
                    <li><a href="#">Bong lan trung muoi</a></li>
                    <li><a href="#">Kho ga la chanh</a></li>
                    <li><a href="#">Banh ga to</a></li>
                    <li><a href="#">Banh qui</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>Lien he</h3>
                <p>Dia chi 1: So 78/2 - To 4 - Bang B - Hoang Liet - Hoang Mai - Ha Noi</p>
                <p>Dia chi 2: Toa nha CT3 - Yen Hoa - Cau Giay - Ha Noi</p>
                <div class="icon-bar">
                    <div class="icon facebook"><a href="#"></a></div>
                    <div class="icon youtube"><a href="#"></a></div>
                    <div class="icon instagram"><a href="#"></a></div>
                </div>
            </div>
        </div>
    </div>
    <p class="quote">Design by LNT</p>
</div>