<div class="footer">
    <div class="footer-content">
        <div class="row">
            <div class="col-sm-5">
                <h3>TÌM HIỂU THÊM VỀ CHỮ KÝ SỐ</h3>
                <p>Chữ ký số Viettel-CA được đánh giá là dịch vụ chữ ký số tốt, ổn định, hỗ trợ kỹ thuật 24/7 và được nhiều công ty, tổ chức tin tưởng sử dụng nhiều nhất hiện nay.</p>
            </div>
            <div class="col-sm-3 quick-menu">
                <h3>MENU NHANH</h3>
                <ul>
                    <li><a routerLink="/frontpage">Trang chủ</a></li>
                    <li ><a routerLink="/digital-signature">Chữ ký số</a></li>
                    <li><a routerLink="/electric-bill">Hóa đơn điện tử</a></li>
                    <li><a routerLink="/guide">Hướng dẫn</a></li>
                    <li><a routerLink="/map">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>LIÊN HỆ</h3>
                <p><span class="address">Địa chỉ 1:</span> So 78/2 - To 4 - Bang B - Hoang Liet - Hoang Mai - Ha Noi</p>
                <p><span class="address">Địa chỉ 2:</span> Toa nha CT3 - Yen Hoa - Cau Giay - Ha Noi</p>
                <div class="icon-bar">
                    <div class="icon facebook"><a href="#"></a></div>
                    <div class="icon youtube"><a href="#"></a></div>
                    <div class="icon instagram"><a href="#"></a></div>
                </div>
            </div>
        </div>
    </div>
    <p class="quote">Design by @LNT</p>
</div>