@import '../../scss/mixin.scss';
$navbar-horizontal-padding: 25px;
.navbar {
  border-radius: 0;
  border-radius: 0;
  background: $primary-color;
  border: none;
  @extend %full-width;
  .nav.navbar-nav {
    margin-left: -22px;
  }
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
      a:hover {
        background: $primary-color;
        opacity: 0.7;
        text-decoration: none;
      }
    }
  }

  > ul {
    padding-left: 0;
    > li {
      list-style-type: none;
      
      > a {
        
        color: #fff;
        font-weight: bold;
        font-size: $font-size-6;
        padding-left: $navbar-horizontal-padding;
        padding-right: $navbar-horizontal-padding;
        
      }
      &.active a {
        color: #fff;
        background: $primary-color;
        opacity: 0.7;
      }
      &.has-sub-menu {
        background: url("../../assets/images/arrow-down.svg") right no-repeat;
        position: relative;
        &:hover {
          ul {
            display: block;
            opacity: 0.7;
          }
        }
        ul {
          display: none;
          position: absolute;
          width: 150px;
          background: $primary-color;

          li {
            padding: 5px $navbar-horizontal-padding;
            a {
              color: #fff;
              cursor: pointer;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          } 
        }
        
      }
    }
  }
}
#top {
  height: 55px;
  @extend %full-width;
  background: #fff;
  .main-logo {
    width: 250px;
    height: 50px;
    margin-top: 3px;
    display: inline-flex;
    justify-content: left;
    align-items: center;
    font-size: 31px;
    color: #850015;
    font-weight: bold;
    background: url("../../assets/images/pocake-logo.jpg") left no-repeat;
    background-size: contain;
    padding-left: 60px;
  }
  .info {
    float: right;
    width: 200px;
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background: #850015;
    color: #fff;
  }
}