<div id="top">
  <div class="main-logo">
      PÔ CAKE
  </div>
  <div class="info">
    Gọi điện ngay - Ship liền tay (24/7)
    0985551508
  </div>
</div>
<nav class="navbar">
  <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li class="has-sub-menu">
        <a href="#">Page 3</a>
        <ul>
          <li><a>Sub menu 1</a></li>
          <li><a>Sub menu 2</a></li>
        </ul>
      </li>
  </ul>
</nav>