<div id="top">
    <a class="main-logo" routerLink="/frontpage">Chữ ký số Viettel</a>
      
  <div class="info">
    <a href="tel:0985999765">
        Gọi điện ngay - Mr Thắng - 0985999765
    </a>
  </div>
  <div class="visible-xs collapse-button" (click)="collapseButtonClick()">
    <div class="icon-bar"></div>
    <div class="icon-bar"></div>
    <div class="icon-bar"></div>
  </div>
</div>
<nav class="navbar" [ngClass]="{'collapsed': isCollapsed}">
  <ul class="nav navbar-nav">
      <li><a routerLink="/frontpage" routerLinkActive="active-link">Trang chủ</a></li>
      <li >
      <!-- <li class="has-sub-menu"> -->
        <a routerLink="/digital-signature" routerLinkActive="active-link">Chữ ký số</a>
        <!-- <ul>
          <li><a>Bong lan trung muoi</a></li>
          <li><a>Kho ga la chanh</a></li>
          <li><a>Banh ga to</a></li>
        </ul> -->
      </li>
      <li><a routerLink="/electric-bill" routerLinkActive="active-link">Hóa đơn điện tử</a></li>
      <li><a routerLink="/price" routerLinkActive="active-link">Bảng giá</a></li>
      <li><a routerLink="/map" routerLinkActive="active-link">Liên hệ</a></li>
  </ul>
</nav>