<div class="transclusion-container">
  <div class="row row-eq-height">
    <div class="col-md-9">
      <ng-content></ng-content>
    </div>
    <div class="col-md-3">
      <div class="side-menu">
        <h3>Tin tức</h3>
        <ul>
          <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
          <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
          <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
          <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
          <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
          <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
        </ul>
      </div>
      <div class="side-menu">
          <h3>Toàn Quốc</h3>
          <ul>
            <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
            <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
            <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
            <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
            <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
            <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
          </ul>
        </div>
        <div class="side-menu">
            <h3>Hỗ trợ kỹ thuật</h3>
            <ul>
              <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
              <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
              <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
              <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
              <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
              <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
            </ul>
          </div>
    </div>
  </div>
  <div class="related-article">
    <h3>Bài viết liên quan</h3>
    <ul>
      <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
      <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
      <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
      <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
      <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
      <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
    </ul>
  </div>
</div>
