@import '../../../scss/mixin.scss';
.row-eq-height {
  @extend %row-equal-height;
}
.side-menu {
  h3 {
    color: #fff;
    background: #00918d;
    padding: 10px;
    margin-bottom: 0;
  }
  ul {
    padding-left: 0;
    background: #cccccc4f;
    li {
      list-style-type: none;
      padding: 8px 10px;
    }
  }
}

.related-article {
  h3 {
    color: #fff;
    background: #00918d;
    padding: 10px;
    margin-bottom: 0;
  }
  ul {
    padding-left: 0;
    background: #cccccc4f;
    li {
      list-style-type: none;
      padding: 8px 10px;
    }
  }
}