.frontpage {
  .slideshow {
    background: url("../../assets/images/slide-plat.jpg") center no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: -30px;
    margin-left: -50%;
    margin-right: -50%;
  }
}