
<pm-transclusion-container>
    <div class="digital-signature">
        <div class="luu-y">
          <h2><strong>Chữ ký số là gì?</strong></h2>
          <p><strong>Viettel</strong> là một dạng chữ ký điện tử. Đối với doanh nghiệp, nó có vai trò như một con dấu và được thừa nhận về mặt pháp lý. Chữ ký số được coi là phương án giải quyết tốt nhất mọi vấn đề khi giao dịch trên môi trường internet và còn được ứng dụng vào nhiều lĩnh vực bảo mật cao khác.</p>
          <p>Với việc đăng ký một <strong><a href="https://www.caviettel.com/">chữ ký số</a> Viettel</strong> duy nhất quý khách có thể sử dụng trong tất cả giao dịch điện tử phổ biển hiện nay như: Kê khai - Nộp thuê điên tử, Hải Quan, Bảo Hiểm Xã Hội, Bảo Hiểm Y Tế, Ký hợp đồng giao dịch...</p>
          </div>
      
          <h2><a name="bang-gia"></a><strong>Bảng giá&nbsp;<a title="Đăng ký chữ ký số Viettel" href="https://www.caviettel.com/" target="_blank" rel="noopener noreferrer">Chữ ký số Viettel</a></strong></h2>
          <table style="width: 100%;" border="1" cellspacing="1" cellpadding="1">
            <tbody>
            <tr>
            <td style="width: 50%;">
            <p><strong>Gói cước</strong></p>
            </td>
            <td style="width: 16%;">
            <p><strong>1 Năm</strong></p>
            </td>
            <td style="width: 17%;">
            <p><strong>2 Năm</strong></p>
            </td>
            <td style="width: 17%;"><strong>3 năm</strong></td>
            </tr>
            <tr>
            <td>
            <p>Giá đã có VAT ghi trên hóa đơn</p>
            </td>
            <td>
            <p><span style="text-decoration: line-through;"> 1,826,000 đ</span></p>
            </td>
            <td>
            <p><span style="text-decoration: line-through;">2,741,000 đ</span></p>
            </td>
            <td><span style="text-decoration: line-through;"> 3,109,000 đ</span></td>
            </tr>
            <tr>
            <td>Giá chiết khấu thực tế thanh toán</td>
            <td bgcolor="#FFCC00"><strong>1.590.000 đ</strong></td>
            <td bgcolor="#FFCC00"><strong>2.390.000 đ</strong></td>
            <td bgcolor="#FFCC00"><strong>2.590.000 đ</strong></td>
            </tr>
            </tbody>
            </table>
      
            <div class="luu-y">
              <p><strong>Lưu ý</strong>:</p>
              <p>- Báo giá trên đã bao gồm VAT và USB Token</p>
              - <strong>Trực tiếp nhân viên Viettel qua ký hợp đồng, triển khai dịch vụ</strong> (Hợp đồng, Hóa đơn Viettel đầy đủ). <strong>KHÔNG</strong> qua Đại lý hay Trung gian&nbsp;</div>
              <h4><strong>Hotline Đăng Ký</strong></h4>
              <div class="luu-y">
                <h2><strong><a name="thu-tuc-dang-ky"></a>Quy trình đăng ký chữ ký số Viettel - CA</strong></h2>
                <p><strong>Bước 1. Gửi trước 3 thông tin sau qua Email</strong></p>
                <p>1. Quý khách <strong>Chụp ảnh</strong> hoặc <strong>Scan</strong> giấy phép kinh doanh và CMND của người đại điện pháp luật gửi về Email<strong> <span id="cloakee45fdf24f8a0254c6526f3552f7bdd0"><a href="mailto:dangky@caviettel.com">dangky@caviettel.com</a></span><script type="text/javascript">
                        document.getElementById('cloakee45fdf24f8a0254c6526f3552f7bdd0').innerHTML = '';
                        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                        var path = 'hr' + 'ef' + '=';
                        var addyee45fdf24f8a0254c6526f3552f7bdd0 = 'd&#97;ngky' + '&#64;';
                        addyee45fdf24f8a0254c6526f3552f7bdd0 = addyee45fdf24f8a0254c6526f3552f7bdd0 + 'c&#97;v&#105;&#101;tt&#101;l' + '&#46;' + 'c&#111;m';
                        var addy_textee45fdf24f8a0254c6526f3552f7bdd0 = 'd&#97;ngky' + '&#64;' + 'c&#97;v&#105;&#101;tt&#101;l' + '&#46;' + 'c&#111;m';document.getElementById('cloakee45fdf24f8a0254c6526f3552f7bdd0').innerHTML += '<a ' + path + '\'' + prefix + ':' + addyee45fdf24f8a0254c6526f3552f7bdd0 + '\'>'+addy_textee45fdf24f8a0254c6526f3552f7bdd0+'<\/a>';
                    </script> hoặc qua Zalo số 0972 411 888&nbsp;</strong>để chúng tôi soạn hợp đồng, đăng ký triển khai dịch vụ.</p>
                <p>2. Lựa chọn gói cước đăng ký (1 năm, 2 năm hay 3 năm)?</p>
                <p>3. Cung cấp số điện thoại liên hệ và địa chỉ khi Nhân viên Viettel qua làm hợp đồng và bàn giao USB Token</p>
                <p><strong>=&gt; Thực hiện triển khai - Bàn giao USB Token trong ngày cho khách hàng</strong></p>
                <strong>Nhân viên Viettel sẽ tiến hành bàn giao cho khách hàng:</strong>
                <p>1. Thiết bị USB Token Chữ Ký Số Viettel.</p>
                <p>2. Giấy chứng nhận sử dụng Chữ Ký Số Viettel.</p>
                <p>3. Biên bản bàn giao Chữ Ký Số Viettel.</p>
                <p>4. Hóa đơn thuế VAT của Viettel.</p>
                <p>5. Hợp đồng Chữ ký số.</p>
                </div>
      
                <img src="'chu-ky-so-viettel.png'" alt="chu ky so viettel" width="800" height="578">
      
                <table class="pure-table pure-table-bordered bordered" style="width: 100%;">
                  <thead>
                  <tr><th bgcolor="#FF6600"><span class="style1">LỢI ÍCH KHI ĐĂNG KÝ TẠI WWW.CAVIETTEL.COM</span></th></tr>
                  </thead>
                  <tbody>
                  <tr>
                  <td>
                  <p>1. Trực tiếp Trung tâm, nhân viên Viettel, không qua đại lý hay trung gian</p>
                  </td>
                  </tr>
                  <tr>
                  <td>
                  <p>2. Thủ tục đăng ký chữ ký số Viettel nhanh gọn, hoàn thành bàn giao trong ngày</p>
                  </td>
                  </tr>
                  <tr>
                  <td>
                  <p>3. Có <span style="color: #ff0000;"><strong>hợp đồng, hóa đơn Viettel</strong></span> ngay sau khi bàn giao dịch vụ chữ ký số Viettel</p>
                  </td>
                  </tr>
                  <tr>
                  <td>
                  <p>4. Ký hợp đồng, cài đặt, hướng dẫn sử dụng chữ ký số Viettel tận nơi</p>
                  </td>
                  </tr>
                  <tr>
                  <td>
                  <p>5. Dịch vụ chữ ký số Viettel Uy tín - Ổn định số 1 hiện nay</p>
                  </td>
                  </tr>
                  </tbody>
                  </table>
                  <div>
                  <div class="image digital-signature-image"></div>
                  <h2><strong>TÌM HIỂU THÊM VỀ CHỮ KÝ SỐ</strong></h2>
                    
      
      Chữ ký số Viettel là dịch vụ được sử dụng trong các giao dịch điện tử nhằm xác định danh tính của người ký, đảm bảo tính toàn vẹn và giá trị pháp lý của các giao dịch điện tử. Ứng dụng này giúp việc thực hiện các giao dịch từ xa qua Internet trở nên dễ dàng, đơn giản và bảo mật.
      
      Theo Điểm 4 Luật số 21/2012/QH13, Luật Quản lý thuế số 78/2006/QH11 đã bổ sung thêm Khoản 10 vào Điều 7 được áp dụng từ 1/7/2013 về việc sử dụng chữ ký số cho doanh nghiệp. Theo đó, từ 1/7/2013 bắt buộc tất cả các doanh nghiệp phải sử dụng chữ ký số để kê khai thuế qua mạng.
      
      Bộ Tài chính cũng ban hành Quyết định số 2341/QĐ-BTC chính thức bắt buộc sử dụng chữ ký số đã đăng ký với cơ quan hải quan khi thực hiện các thủ tục hải quan điện tử, áp dụng đối với tất cả các doanh nghiệp trên toàn quốc áp dụng từ 01/11/2013.
      
      Như vậy, khi nộp thuế qua mạng, kê khai BHXY, BHYT hoặc sử dụng hải quan điện tử các doanh nghiệp, tổ chức phải sử dụng chữ ký số
      
      Chữ ký số Viettel-CA được đánh giá là dịch vụ chữ ký số tốt, ổn định, hỗ trợ kỹ thuật 24/7 và được nhiều công ty, tổ chức tin tưởng sử dụng nhiều nhất hiện nay.
                  </div>
                  <div class="image"></div>
                  <div>
                    <h2><strong>ỨNG DỤNG CỦA CHỮ KÝ SỐ VIETTEL - CA</strong></h2>
                    <ul>
                      <li>
                          Chữ ký số Viettel có thể sử dụng trong các giao dịch thư điện tử, e-mail, mua bán trực tuyến, giao dịch chứng khoán trực tuyến, giao dịch ngân hàng trực tuyến;
                      </li>
                      <li>Chữ ký số Viettel sử dụng trong các dịch vụ hành chính công điện tử như : kê khai thuế, khai hải quan trực tuyến, xin các giấy phép - giúp doanh nghiệp tiết kiệm thời gian, chi phí giao dịch;</li>
                      <li>Chữ ký số Viettel còn được các doanh nghiệp, cá nhân sử dụng trong các giao dịch điện tử khác như ký hợp đồng, ký kết văn bản thỏa thuận, kinh doanh trực tuyến.</li>
                      <li>Tất cả các gói cước đã bao gồm Token</li>
                    </ul>
                    
      
      
      
      
      
      
      
                  </div>
      
                  <table class="pure-table pure-table-bordered bordered" style="width: 100%;">
                      <thead>
                      <tr><th bgcolor="#FF6600"><span class="style1">ƯU ĐIỂM CHỮ KÝ SỐ VIETTEL</span></th></tr>
                      </thead>
                      <tbody>
                      <tr>
                      <td>
                      <p>1. Chính hãng 100% - Viettel trực tiếp triển khai</p>
                      </td>
                      </tr>
                      <tr>
                      <td>
                      <p>2. Bảo hành trọn đời, hỗ trợ kỹ thuật tận nơi</p>
                      </td>
                      </tr>
                      <tr>
                      <td>
                      <p>3. Được tin dùng bởi hơn 200.000 doanh nghiệp cả nước ( &gt;50% thị phần)</p>
                      </td>
                      </tr>
                      <tr>
                      <td>
                      <p>4. Hơn 1000 kỹ sư CNTT chuyên nghiệp phát triển</p>
                      </td>
                      </tr>
                      <tr>
                      <td>
                      <p>5. Kế thừa 20 năm kinh nghiệm phát triển các sản phẩm giải pháp CNTT</p>
                      </td>
                      </tr>
                      <tr>
                      <td>
                      <p>6. Có 4 Data Center lớn nhất Đông Nam Á</p>
                      </td>
                      </tr>
                      </tbody>
                      </table>
      </div>
</pm-transclusion-container>