%icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
%full-width {
    margin-left: -9999px;
    margin-right: -9999px;
    padding-left: 9999px;
    padding-right: 9999px;
}
$screen-xs: 768px;
$screen-sm: 992px;
$screen-md: 1200px;
$screen-lg: 1400px;
$screen-md-min: $screen-md;
$screen-md-max: $screen-lg - 1;
$card-length: 135px;

$primary-color: #a9001b;